
.container{
    
    background-color: rgb(247, 247, 247);
    width: 315px;
    display: block;
    margin: 0 auto;
    margin-top: 20vh;
    
}
.monthyear_container{
    display: flex;
    justify-content: center;
}

.week_container{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: calc(315px / 7);
    
}

.week_days{
   
}

.day_container{
    height: 315px;
    width: 315px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.day_container::-webkit-scrollbar {
    display: none;
  }


.days{
    display: flex;
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    color: rgb(153, 153, 153);
}

.selected{
    color: rgb(17, 17, 17);
}

