
.calender_container{
    background-color: rgb(255, 255, 255);
    width: 315px;
    display: block;
    margin: 0 auto;
    margin-top: 20vh;
    box-shadow: 2px 2px 2px 1px rgba(24, 24, 24, 0.06);
}
.monthyear_container{
    background-color: rgb(240, 240, 240);
    height: 45px;
    display: flex;
    font-size: 1.5rem;
    padding-left: 13px;
    width: 315px;
    align-items:flex-end;
}

.week_container{
    background-color: rgb(240, 240, 240);
    display: flex;
    margin: 0 auto;
    width: 315px;
    height: 45px;
    align-items: center;
}

.week_container p{
    width: 45px;
    text-align: center;
}

.day_container{
    height: auto;
    width: 315px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
   background-color: black;
   
}

.day_container::-webkit-scrollbar {
    display: none;
  }

.days{
    
    align-items: center;
    justify-content: center;
    display: flex;
    width: 45px;
    height: 45px;
    background-color: rgb(240, 240, 240);
    color: rgb(29, 29, 29);
}

.days:hover{
    cursor: pointer;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
}

.selected{
    background-color: rgb(0, 111, 214);
    color: aliceblue;
    border-style: solid;
    border-color: rgb(240, 240, 240);;
}

.passed{
    color: rgb(209, 209, 209);
}

.filter_container{
    padding-left: 5%;
}

.side_bar_container{
    width: 20%;
    height: 100vh;
    background-color: aquamarine;
}